<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AtlasBlog1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/AtlasBlog1.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">DevBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4 text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4 text-light" asp-area="" asp-controller="Blogs" asp-action="Index">Blogs</a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4 text-light" asp-area="" asp-controller="Posts" asp-action="Index">Posts</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>

            </div>
        </div>
    </nav>

    <!-- Page Header-->
    <header class="masthead border-bottom-dark" style="background-image: url('/Img/mountainBGPlaceHolder.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1 class="">Developer Blog</h1>
                        <span class="subheading">A Blog site made by Nicholas Payne</span>
                        <form class="mt-5" asp-action="SearchIndex" asp-controller="Posts">
                            <div class="input-group mt-5">
                                <input type="text" name="SearchItem" class="form-control border-dark" />
                                <div>
                                    <button type="submit" class="btn btn-primary border-dark w-100">SEARCH</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>

</body>
</html>
